* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 115px;
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 0 72px;
  }
}
@media screen and (max-width: 880px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 830px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 420px) {
  .container {
    padding: 0 0px;
  }
}
.navbar {
  background-color: rgb(43, 43, 43);
  padding: 0 30px;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.nav-actions {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item-link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}

.nav-signup-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 900px) {
  .navbar {
    background-color: rgb(43, 43, 43);
    padding: 0 50px;
  }
  .navbar-wrapper {
    padding: 20px 0;
  }
  .nav-menu-img {
    display: none;
  }
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-signup-btn {
    padding: 19px 30px;
    border-radius: 20px;
    background: rgb(162, 89, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
  }
}
.hero1-section {
  background-color: rgb(43, 43, 43);
}

.hero1-section-wrapper {
  padding: 80px 0;
  display: flex;
  align-items: center;
}

.hero1-left {
  width: 50%;
}

.hero1-title {
  width: 90%;
  color: rgb(255, 255, 255);
  font-size: 47px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero1-text {
  width: 80%;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.hero1-get-btn {
  padding: 19px 50px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  background: rgb(162, 89, 255);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.hero1-cards {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero1-card .hero1-card-num {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}
.hero1-card .hero1-card-text {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
}

.hero1-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.hero1-right-wrapper {
  border-radius: 20px;
  background-color: aqua;
  width: 80%;
  background-color: rgb(59, 59, 59);
}

.hero1-right-wrapper1 {
  border-radius: 20px;
  background-color: aqua;
  width: 80%;
  background-color: rgb(59, 59, 59);
  margin-bottom: 20px;
  display: none;
}

.hero1-right-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero1-right-img img {
  width: 100%;
}

.hero1-right-content {
  padding: 22px 20px;
  display: flex;
  flex-direction: column;
}

.hero1-right-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.hero1-right-content-avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .hero1-title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    line-height: 160%;
    text-align: left;
  }
  .hero1-right-wrapper {
    width: 100%;
  }
  .hero1-right-wrapper1 {
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .hero1-section-wrapper {
    padding: 30px 0;
    align-items: start;
  }
  .hero1-title {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 500;
    line-height: 190%;
  }
  .hero1-text {
    font-size: 19px;
  }
  .hero1-card .hero1-card-num {
    font-size: 20px;
  }
  .hero1-card .hero1-card-text {
    font-size: 17px;
    font-weight: 300;
  }
  .hero1-right-title {
    font-size: 18px;
  }
  .hero1-right-content-avatar {
    font-size: 14px;
  }
}
@media screen and (max-width: 830px) {
  .hero1-section-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hero1-left {
    width: 90%;
  }
  .hero1-title {
    width: 100%;
    font-size: 22px;
    text-align: center;
  }
  .hero1-text {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;
  }
  .hero1-get-btn {
    margin: 0 auto;
    width: 85%;
    margin-bottom: 40px;
  }
  .hero1-cards {
    margin: 0 auto;
    width: 85%;
    justify-content: space-between;
  }
  .hero1-right-wrapper {
    display: none;
  }
  .hero1-right-wrapper1 {
    margin: 0 auto;
    display: block;
    width: 85%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 500px) {
  .hero1-section-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hero1-left {
    width: 100%;
  }
  .hero1-right {
    width: 100%;
  }
  .hero1-title {
    font-size: 18px;
  }
  .hero1-text {
    font-size: 15px;
  }
  .hero1-get-btn {
    padding: 12px;
  }
  .hero1-cards .hero1-card-num {
    font-size: 14px;
  }
  .hero1-cards .hero1-card-text {
    font-size: 13px;
  }
}
.trend-section {
  padding: 80px 0;
  background-color: rgb(43, 43, 43);
}

.trend-title-text {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.trend-title {
  letter-spacing: 1.4px;
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.trend-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.trend-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trend-card1 {
  border-radius: 20px;
}

.trend-card2 {
  border-radius: 20px;
}

.trend-card3 {
  border-radius: 20px;
}

.trend-card-image {
  width: 100%;
  margin-bottom: 11px;
}

.trend-card-images {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.trend-card-images img {
  width: 30%;
}

.trend-card-title {
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.trend-card-avatar {
  width: 100%;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  gap: 12px;
}

@media (max-width: 1300px) {
  .trend-cards {
    flex-wrap: wrap;
  }
  .trend-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
  }
  .trend-card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
  }
  .trend-card3 {
    display: none;
  }
}
@media (max-width: 730px) {
  .trend-section {
    padding: 40px 0;
  }
  .trend-section-wrapper {
    margin: 0 auto;
  }
  .trend-title-text {
    margin: 0 auto;
    width: 90%;
    display: flex;
  }
  .trend-title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .trend-text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .trend-card1 {
    margin: 0 auto;
    width: 90%;
  }
  .trend-card2 {
    display: none;
  }
  .trend-card-images img {
    width: 33%;
  }
}
.top-section {
  padding: 80px 0;
  background-color: rgb(43, 43, 43);
}

.top-title-text-btn {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 60px;
}

.top-title-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-title {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 10px;
  letter-spacing: 1.3px;
}

.top-text {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}

.top-view-btn,
.top-view-btn1 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 19px 50px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid rgb(162, 89, 255);
  border-radius: 20px;
  background-color: transparent;
}

.top-view-btn1 {
  display: none;
}

.top-cards {
  display: flex;
  align-content: center;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-card {
  width: 20%;
  border-radius: 20px;
  background: rgb(59, 59, 59);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.top-card img {
  margin-bottom: 20px;
}

.top-card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-card-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.top-card-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-card-left {
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.top-card-right {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

@media (max-width: 1490px) {
  .top-card {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .top-title-text-btn {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .top-title-text {
    width: 60%;
  }
  .top-cards {
    flex-wrap: wrap;
  }
  .top-card {
    width: 45%;
    padding: 20px 10px 0px 20px;
    flex-direction: row;
    gap: 20px;
  }
  .top-card-content {
    width: 80%;
  }
  .top-card-title {
    width: 100%;
    margin-bottom: 25px;
    text-align: start;
  }
  .top-card-text {
    width: 100%;
    text-align: start;
  }
}
@media (max-width: 757px) {
  .top-title-text-btn {
    width: 85%;
  }
  .top-title-text {
    width: 100%;
  }
  .top-view-btn {
    display: none;
  }
  .top-view-btn1 {
    display: block;
    margin: 0 auto;
    width: 85%;
  }
  .top-cards {
    justify-content: center;
    margin-bottom: 30px;
  }
  .top-card {
    width: 85%;
  }
  .top-card-content {
    padding: 0px 0 25px 0;
  }
  .top-card-title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .top-card-left {
    font-size: 21px;
  }
  .top-card-right {
    font-size: 21px;
  }
}
@media (max-width: 540px) {
  .top-card-content {
    padding: 0px 0 25px 0;
  }
  .top-card-title {
    font-size: 20px;
  }
}
.site-footer {
  background-color: rgb(59, 59, 59);
}

.footer-wrapper {
  padding: 40px 0;
}

.footer-social {
  margin-bottom: 30px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-social-desc {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

.footer-social-text {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 18px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-explore-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-explore-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.footer-explore-list-link {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.footer-digest-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-digest-desc {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-name {
  box-sizing: border-box;
  border: 1px solid rgb(133, 133, 132);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  padding: 16px 20px;
  width: 100%;
}
.input-name::-moz-placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}
.input-name::placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}

.form-subscribe-btn {
  width: 100%;
  padding: 12px 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  background: rgb(162, 89, 255);
  border: none;
}

@media (min-width: 900px) {
  .footer-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: space-between;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 400px) {
  .container {
    padding: 0 50px;
  }
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

.navbar {
  background-color: rgb(43, 43, 43);
  padding: 0 30px;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.nav-actions {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item-link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}

.nav-signup-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 900px) {
  .navbar {
    background-color: rgb(43, 43, 43);
    padding: 0 50px;
  }
  .navbar-wrapper {
    padding: 20px 0;
  }
  .nav-menu-img {
    display: none;
  }
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-signup-btn {
    padding: 19px 30px;
    border-radius: 20px;
    background: rgb(162, 89, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
  }
}
.hero-section {
  background-color: rgb(43, 43, 43);
}

.hero-top-img {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-top-img img {
  width: 100%;
}

.hero-top-img-tab img {
  display: none;
}

.hero-top-img-desk img {
  display: none;
}

.hero-title-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero-text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  margin-bottom: 30px;
}

.hero-form {
  padding: 0 0 40px 0;
}

label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-name {
  border: 1px solid rgb(133, 133, 132);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 16px 20px;
  width: 100%;
}
.input-name::-moz-placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}
.input-name::placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.form-create-btn {
  width: 100%;
  padding: 12px 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  background: rgb(162, 89, 255);
  border: none;
}

@media (min-width: 900px) {
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-top-img img {
    display: none;
  }
  .hero-top-img-tab img {
    display: block;
  }
}
@media (min-width: 1100px) {
  .hero-top-img-tab img {
    display: none;
  }
  .hero-top-img-desk img {
    display: block;
  }
}
.site-footer {
  background-color: rgb(59, 59, 59);
}

.footer-wrapper {
  padding: 40px 0;
}

.footer-social {
  margin-bottom: 30px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-social-desc {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

.footer-social-text {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 18px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-explore-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-explore-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.footer-explore-list-link {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.footer-digest-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-digest-desc {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-name {
  box-sizing: border-box;
  border: 1px solid rgb(133, 133, 132);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  padding: 16px 20px;
  width: 100%;
}
.input-name::-moz-placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}
.input-name::placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}

.form-subscribe-btn {
  width: 100%;
  padding: 12px 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  background: rgb(162, 89, 255);
  border: none;
}

@media (min-width: 900px) {
  .footer-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: space-between;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 600px) {
  .container {
    padding: 0 72px;
  }
}
.navbar {
  background-color: rgb(43, 43, 43);
  padding: 0 30px;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.nav-actions {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item-link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}

.nav-signup-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 900px) {
  .navbar {
    background-color: rgb(43, 43, 43);
    padding: 0 50px;
  }
  .navbar-wrapper {
    padding: 20px 0;
  }
  .nav-menu-img {
    display: none;
  }
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-signup-btn {
    padding: 19px 30px;
    border-radius: 20px;
    background: rgb(162, 89, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
  }
}
.hero2-section {
  background-color: rgb(43, 43, 43);
  border-bottom: 1px solid rgb(59, 59, 59);
}

.hero2-section-wrapper {
  padding: 40px 0;
  background-color: rgb(43, 43, 43);
}

.hero2-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.hero2-text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 30px;
}

.hero2-form label .search {
  width: 100%;
  padding: 19px 20px;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 20px;
  background-color: transparent;
}

.hero2-form label .search::-moz-placeholder {
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.hero2-form label .search::placeholder {
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.create-section {
  background-color: rgb(59, 59, 59);
  border-bottom: 2px solid rgb(43, 43, 43);
}

.create-bars {
  background-color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  padding: 29px 30px 0px 30px;
  justify-content: space-between;
}

.create-bar {
  padding: 0 21px 19px 21px;
  border-bottom: 2px solid transparent;
}

.create-bar:hover {
  box-sizing: border-box;
  border-bottom: 2px solid rgb(133, 133, 132);
}

.create-bar:hover .create-bar-title a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
}

.create-bar-title a {
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
}

.create-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
}

.create-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.tab {
  display: none;
  margin-bottom: 30px;
}

.desk {
  display: none;
  margin-bottom: 31px;
}

.create-card-content {
  background-color: rgb(43, 43, 43);
  padding: 20px;
  border-radius: 0 0 25px 20px;
}

.create-card-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.create-card-avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 27px;
}

.create-card-avatar-name {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.create-card-sale {
  display: flex;
  align-items: center;
  gap: 50px;
}

.create-card-sale-titles {
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  margin-bottom: 8px;
  letter-spacing: 1.1px;
}

.create-card-sale-eths {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  letter-spacing: 1.15px;
}

.sec {
  text-align: right;
}

@media (min-width: 450px) {
  .create-card {
    width: 90%;
  }
}
@media (min-width: 730px) {
  .create-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .create-card {
    width: 45%;
    margin-bottom: 0;
  }
  .tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    margin-bottom: 0;
  }
  .create-bar {
    padding: 0 10% 19px 10%;
  }
}
@media (min-width: 1075px) {
  .create-card {
    width: 30%;
  }
  .desk {
    display: flex;
    width: 30%;
  }
}
@media (min-width: 600px) {
  .create-bars {
    padding: 29px 72px 0px 72px;
  }
}
@media (min-width: 900px) {
  .create-bars {
    padding: 29px 115px 0px 115px;
  }
}
.site-footer {
  background-color: rgb(59, 59, 59);
}

.footer-wrapper {
  padding: 40px 0;
}

.footer-social {
  margin-bottom: 30px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-social-desc {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

.footer-social-text {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 18px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-explore-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-explore-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.footer-explore-list-link {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.footer-digest-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-digest-desc {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-name {
  box-sizing: border-box;
  border: 1px solid rgb(133, 133, 132);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  padding: 16px 20px;
  width: 100%;
}

.input-name::-moz-placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}

.input-name::placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}

.form-subscribe-btn {
  width: 100%;
  padding: 12px 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  background: rgb(162, 89, 255);
  border: none;
}

@media (min-width: 900px) {
  .footer-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: space-between;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 600px) {
  .container {
    padding: 0 72px;
  }
}
@media (min-width: 900px) {
  .container {
    padding: 0 115px;
  }
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.navbar {
  background-color: rgb(43, 43, 43);
  padding: 0 30px;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.nav-actions {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item-link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}

.nav-signup-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 900px) {
  .navbar {
    background-color: rgb(43, 43, 43);
    padding: 0 50px;
  }
  .navbar-wrapper {
    padding: 20px 0;
  }
  .nav-menu-img {
    display: none;
  }
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-signup-btn {
    padding: 19px 30px;
    border-radius: 20px;
    background: rgb(162, 89, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
  }
}
.hero4-section {
  background: rgb(43, 43, 43);
  border-bottom: 1px solid #3B3B3B;
}

.hero4-top-img img {
  width: 100%;
}

.hero4-top-img-tab img {
  display: none;
}

.hero4-top-img-desk img {
  display: none;
}

.hero4-top-avatar {
  display: flex;
  position: relative;
  justify-content: center;
  height: 80px;
}

.hero4-top-avatar img {
  position: absolute;
  bottom: -50%;
  transform: translateY(-59%);
}

.hero4-content {
  padding: 0 0 30px 0;
}

.hero4-title {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.hero4-btns {
  margin-bottom: 30px;
}

.hero4-copy-btn {
  gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 19px 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  background: rgb(162, 89, 255);
  border: none;
  margin-bottom: 20px;
}

.hero4-follow-btn {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 19px 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid rgb(162, 89, 255);
}

.hero4-stats {
  display: flex;
  align-items: center;
  gap: 44px;
  margin-bottom: 30px;
}

.hero4-stat-num {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
}

.hero4-stat-name {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.hero4-bio {
  margin-bottom: 30px;
}

.hero4-bio-title {
  color: rgb(133, 133, 132);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 10px;
}

.hero4-bio-text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.hero4-links-title {
  color: rgb(133, 133, 132);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 10px;
}

.hero4-links-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 600px) {
  .hero4-title {
    font-size: 38px;
    line-height: 120%;
  }
  .hero4-top-img {
    display: none;
  }
  .hero4-top-img-tab img {
    width: 100%;
    display: block;
  }
  .hero4-top-avatar img {
    left: 72px;
  }
}
@media (min-width: 900px) {
  .hero4-title {
    font-size: 51px;
    line-height: 110%;
  }
  .hero4-top-img-tab img {
    display: none;
  }
  .hero4-top-img-desk img {
    width: 100%;
    display: block;
  }
  .hero4-top-avatar {
    display: flex;
    position: relative;
    height: 80px;
  }
  .hero4-top-avatar img {
    position: absolute;
    bottom: -50%;
    left: 115px;
    transform: translateY(-59%);
  }
  .hero4-title-btns {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .hero4-stat-num {
    font-size: 28px;
    line-height: 140%;
  }
  .hero4-stat-name {
    font-size: 20px;
    line-height: 160%;
  }
  .hero4-bio-title {
    font-size: 22px;
    line-height: 160%;
  }
  .hero4-bio-text {
    font-size: 22px;
    line-height: 160%;
  }
  .hero4-links-title {
    font-size: 22px;
    line-height: 160%;
  }
}
@media (min-width: 500px) {
  .hero4-btns {
    display: flex;
    gap: 20px;
  }
  .hero4-copy-btn {
    width: 184px;
  }
  .hero4-follow-btn {
    width: 142px;
    height: 60px;
  }
  .hero4-stats {
    gap: 88px;
  }
}
.create-section {
  background-color: rgb(59, 59, 59);
  border-bottom: 2px solid rgb(43, 43, 43);
}

.create-bars {
  background-color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  padding: 29px 30px 0px 30px;
  justify-content: space-between;
}

.create-bar {
  padding: 0 21px 19px 21px;
  border-bottom: 2px solid transparent;
}

.create-bar:hover {
  box-sizing: border-box;
  border-bottom: 2px solid rgb(133, 133, 132);
}

.create-bar:hover .create-bar-title a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
}

.create-bar-title a {
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
}

.create-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
}

.create-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.tab {
  display: none;
  margin-bottom: 30px;
}

.desk {
  display: none;
  margin-bottom: 31px;
}

.create-card-content {
  background-color: rgb(43, 43, 43);
  padding: 20px;
  border-radius: 0 0 25px 20px;
}

.create-card-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.create-card-avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 27px;
}

.create-card-avatar-name {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.create-card-sale {
  display: flex;
  align-items: center;
  gap: 50px;
}

.create-card-sale-titles {
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  margin-bottom: 8px;
  letter-spacing: 1.1px;
}

.create-card-sale-eths {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  letter-spacing: 1.15px;
}

.sec {
  text-align: right;
}

@media (min-width: 450px) {
  .create-card {
    width: 90%;
  }
}
@media (min-width: 730px) {
  .create-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .create-card {
    width: 45%;
    margin-bottom: 0;
  }
  .tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    margin-bottom: 0;
  }
  .create-bar {
    padding: 0 10% 19px 10%;
  }
}
@media (min-width: 1075px) {
  .create-card {
    width: 30%;
  }
  .desk {
    display: flex;
    width: 30%;
  }
}
@media (min-width: 600px) {
  .create-bars {
    padding: 29px 72px 0px 72px;
  }
}
@media (min-width: 900px) {
  .create-bars {
    padding: 29px 115px 0px 115px;
  }
}
.site-footer {
  background-color: rgb(59, 59, 59);
}

.footer-wrapper {
  padding: 40px 0;
}

.footer-social {
  margin-bottom: 30px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-social-desc {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

.footer-social-text {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 18px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-explore-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-explore-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.footer-explore-list-link {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.footer-digest-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-digest-desc {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-name {
  box-sizing: border-box;
  border: 1px solid rgb(133, 133, 132);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  padding: 16px 20px;
  width: 100%;
}

.input-name::-moz-placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}

.input-name::placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}

.form-subscribe-btn {
  width: 100%;
  padding: 12px 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  background: rgb(162, 89, 255);
  border: none;
}

@media (min-width: 900px) {
  .footer-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: space-between;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 600px) {
  .container {
    padding: 0 72px;
  }
}
@media (min-width: 900px) {
  .container {
    padding: 0 115px;
  }
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.navbar {
  background-color: rgb(43, 43, 43);
  padding: 0 30px;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.nav-actions {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item-link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}

.nav-signup-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 900px) {
  .navbar {
    background-color: rgb(43, 43, 43);
    padding: 0 50px;
  }
  .navbar-wrapper {
    padding: 20px 0;
  }
  .nav-menu-img {
    display: none;
  }
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-signup-btn {
    padding: 19px 30px;
    border-radius: 20px;
    background: rgb(162, 89, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
  }
}
.hero5-section {
  background-color: rgb(43, 43, 43);
}

.hero5-top-img img {
  width: 100%;
}

.hero5-top-img-tab img {
  display: none;
}

.hero5-top-img-desk img {
  display: none;
}

.hero5-content-wrapper {
  padding: 40px 0 20px 0;
}

.hero5-title {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.hero5-desc {
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

.hero5-card {
  padding: 30px;
  background-color: rgb(90, 173, 17);
  border-radius: 20px;
  background: rgb(59, 59, 59);
  margin-bottom: 20px;
}

.hero5-card-introtext {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  margin-bottom: 10px;
}

.hero5-clock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.hero5-hour-num {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  text-transform: capitalize;
}

.hero5-hour-text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
}

.hero5-clock-dots {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}

.hero5-card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero5-card-btn button {
  padding: 19px 0;
  width: 80%;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  background: rgb(162, 89, 255);
  border: none;
}

.hero5-avatar-title {
  color: rgb(133, 133, 132);
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 11px;
}

.hero5-avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 21px;
}

.hero5-avatar-text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.hero5-description {
  margin-bottom: 20px;
}

.hero5-description-title {
  color: rgb(133, 133, 132);
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 10px;
}

.hero5-description-text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 1.05px;
  word-spacing: 1.05px;
}

.s,
.t {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

.hero5-details {
  color: rgb(133, 133, 132);
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 12px;
}

.hero5-net-link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.hero5-net-link-text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.hero5-tags {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero5-tags-title {
  color: rgb(133, 133, 132);
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero5-tags-cards {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
}

.hero5-tags-cards p {
  padding: 12px 30px;
  border-radius: 20px;
  background: rgb(59, 59, 59);
  margin-bottom: 20px;
}

.hero5-tab-bottom-card {
  display: none;
}

@media (min-width: 600px) {
  .hero5-top-img img {
    display: none;
  }
  .hero5-top-img-tab img {
    display: block;
    width: 100%;
  }
  .hero5-title-desc-card {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .hero5-card {
    height: 100%;
  }
  .hero5-clock {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
  }
  .hero5-tab-bottom-card {
    display: block;
    width: 80%;
  }
  .hero5-tab-bottom-card1 {
    display: none;
  }
}
@media (min-width: 900px) {
  .hero5-top-img-tab img {
    display: none;
  }
  .hero5-top-img-desk img {
    display: block;
    width: 100%;
  }
  .hero5-description {
    width: 70%;
  }
  .hero5-tags-cards {
    display: flex;
    gap: 20px;
  }
  .hero5-tags-cards p {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 14px;
    background: rgb(59, 59, 59);
  }
}
.create-section {
  background-color: rgb(43, 43, 43);
  border-bottom: 2px solid rgb(43, 43, 43);
}

.create-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 30px 0;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.create-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 40px 0;
}

.create-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.tab {
  display: none;
  margin-bottom: 30px;
}

.desk {
  display: none;
  margin-bottom: 31px;
}

.create-card-content {
  background-color: rgb(59, 59, 59);
  padding: 20px;
  border-radius: 0 0 25px 20px;
}

.create-card-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.create-card-avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 27px;
}

.create-card-avatar-name {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.create-card-sale {
  display: flex;
  align-items: center;
  gap: 50px;
}

.create-card-sale-titles {
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  margin-bottom: 8px;
  letter-spacing: 1.1px;
}

.create-card-sale-eths {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  letter-spacing: 1.15px;
}

.sec {
  text-align: right;
}

@media (min-width: 450px) {
  .create-card {
    width: 90%;
  }
}
@media (min-width: 730px) {
  .create-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .create-card {
    width: 45%;
    margin-bottom: 0;
  }
  .tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    margin-bottom: 0;
  }
  .create-bar {
    padding: 0 10% 19px 10%;
  }
}
@media (min-width: 1075px) {
  .create-card {
    width: 30%;
  }
  .desk {
    display: flex;
    width: 30%;
  }
}
.site-footer {
  background-color: rgb(59, 59, 59);
}

.footer-wrapper {
  padding: 40px 0;
}

.footer-social {
  margin-bottom: 30px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-social-desc {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

.footer-social-text {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 18px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-explore-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-explore-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.footer-explore-list-link {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.footer-digest-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-digest-desc {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-name {
  box-sizing: border-box;
  border: 1px solid rgb(133, 133, 132);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  padding: 16px 20px;
  width: 100%;
}

.input-name::-moz-placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}

.input-name::placeholder {
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-transform: capitalize;
}

.form-subscribe-btn {
  width: 100%;
  padding: 12px 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  background: rgb(162, 89, 255);
  border: none;
}

@media (min-width: 900px) {
  .footer-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: space-between;
  }
}